<style>
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    input, textarea {
        margin-bottom: 10px;
    }
    .current-item {
        margin-top: 30px;
        width: 100%;
    }
    .current-item img {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
</style>

<div class="page-title">
    <h1>
        <%= page %>
    </h1>
</div>

<%- include('../../partials/menus/admin-nav.ejs'); %>


<div class="current-item">
    <img src="<%= shoe.product_image_url %>" alt="">
</div>

<form action="/admin/shoes/edit/<%= shoe.id %>?_method=PATCH" method="post">
    <input type="text" name="company" placeholder="<%= shoe.company %>">
    <input type="text" name="shoe_name" placeholder="<%= shoe.shoe_name %>">
    <textarea name="description" placeholder="<%= shoe.description %>"></textarea>
    <input type="text" name="sku" placeholder="<%= shoe.sku %>">
    <input type="url" name="supplier_website" placeholder="<%= shoe.supplier_website %>">
    <input type="url" name="product_webpage" placeholder="<%= shoe.product_webpage %>">
    <input type="url" name="product_image_url" placeholder="<%= shoe.product_image_url %>">
    <div class="colors">
        <div class="color">
            <label for="color1">Main Color</label>
            <input type="color" name="color1" id="color1">
        </div>
        <div class="color">
            <label for="color2">Accent Color</label>
            <input type="color" name="color2" id="color2">
        </div>
    </div>
    <input type="number" name="price" placeholder="<%= shoe.price %>">
    <button type="submit">Add Shoe</button>
</form>


