<style>
    .input-form {
        width: 90%;
    }
</style>

<%- include('../../partials/menus/admin-nav.ejs'); %>

<div class="page-title">
    <h1>
        <%= page %>
    </h1>
</div>

<div class="site-link-helper">
    <p><a href="#shoeForm">Add a New Shoe</a></p>
</div>

<div class="admin-table">
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Item</th>
                <th>Details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            <% shoes.forEach(function(shoe) { %>
                <tr>
                    <td>
                        <img class="admin-table-image" src="<%= shoe.product_image_url %>"/>
                    </td>
                    <td>
                        <p style="font-size: 1.1rem; color: lightskyblue;"><%= shoe.company %></p>
                        <p><%= shoe.shoe_name %></p>
                    </td>
                    <td>
                        <div class="item-card-button"><a href="/admin/shoes/<%= shoe.id %>/details"><i class="far fa-eye"></i></a></div>
                    </td>
                    <td>
                        <div class="item-card-button"><a href="/admin/shoes/edit/<%= shoe.id %>"><i class="far fa-edit"></i></a></div>
                    </td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>

<div class="input-form" id="shoeForm">
    <div class="input-form-title">
        <h5>Add New Shoe</h5>
    </div>
    <form action="/products/shoes/add" method="post">
        <div class="input-group">
            <input type="text" name="company" placeholder="Name of Shoe">
        </div>
        <div class="input-group">
            <input type="text" name="shoe_name" placeholder="Name of Shoe">
        </div>
        <div class="input-group">
            <textarea name="description" placeholder="Description"></textarea>
        </div>
        <div class="input-group">
            <input type="text" name="sku" placeholder="SKU #">
        </div>
        <div class="input-group">
            <input type="url" name="supplier_website" placeholder="Suppliers Website">
        </div>
        <div class="input-group">
            <input type="url" name="product_webpage" placeholder="Products Webpage URL">
        </div>
        <div class="input-group">
            <input type="url" name="product_image_url"
                placeholder="Products Image URL (skip if you want to upload your own)">
        </div>
        <div class="colors">
            <div class="color">
                <label for="color1">Main Color</label>
                <input type="color" name="color1" id="color1">
            </div>
            <div class="color">
                <label for="color2">Accent Color</label>
                <input type="color" name="color2" id="color2">
            </div>
        </div>
        <div class="input-group">
            <input type="number" name="price" placeholder="Price">
        </div>
        <button type="submit">Add Shoe</button>
    </form>
</div>