<style>

</style>

<div class="page-title">
    <h1>
        <%= page %>
    </h1>
</div>



<div class="item-card-container">
    <% shoes.forEach(function(shoe) { %>
        <div class="item-card">

            <div class="item-card-body">
                <div class="item-card-data">
                    <div class="item-card-data-header">
                        <h3><%= shoe.company %></h3>
                    </div>
                    <div class="item-card-data-subheader">
                        <h5><%= shoe.shoe_name %></h5>
                    </div>

                </div>

                <div class="item-card-main-image">
                    <img src="<%= shoe.product_image_url %>" alt="">
                </div>
                <div class="item-card-price">
                    <div class="item-card-data-price">
                        <span id="shoe_<%= shoe.id %>">$<%= shoe.price %></span>
                    </div>
                    <div class="item-card-buttons">

                        <div class="item-card-button">
                            <a href="/products/sneakers/<%= shoe.company %>/<%= shoe.id %>"><i class="far fa-eye"></i></a>
                        </div>
                        <div class="item-card-button">
                            <button><i class="fas fa-cart-plus"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <% }) %>
</div>